<div class="content">
    <h1 class="titleForm">Change password</h1>
    <form class="form" [formGroup]="dataForm" (submit)="submitForm()">
        <label class="label">Email</label>
        <input class="inputText" type="email" formControlName=email placeholder=Email>
        <label class="label">Password</label>
        <input class="inputText" type="password" formControlName=password placeholder=Password>
        <span class="msgError">The information is failed</span>
        <button type="submit" class="submit">Submit</button>
    </form>
</div>