<div class="content">
    <h1 id="title">Glossaries</h1>
    
    <h1 id="noGlossaries" *ngIf="glossaries.length == 0">
        You don't have glossaries, you can press the button for create a new glossary
    </h1>
    
    <div id="glossaries" *ngIf="glossaries.length > 0">
        <div class="glossaryDiv" *ngFor="let i of glossaries">
            <div class="glossary" [routerLink]="['/auth/glossary/' + i._id + '/a']">
                <p>{{i.title}}</p>
            </div>
            <button class="buttonModify delete" (click)="deleteGlossary(i._id)">X</button>
            <button class="buttonModify update" [routerLink]="['/auth/update-glossary/' + i._id + '/' + i.title]">U</button>
        </div>
    </div>

    <button id="create" class="submit" [routerLink]="['/auth/save-glossary']">+</button>
</div>
