#title {
    font-size: 40px;
    font-family: coming;
}

#noGlossaries {
    margin-top: 40px;
}

.glossaryDiv {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}

.buttonModify {
    margin-right: 20px;
    height: 70px;
    padding: 10px;
    border-radius: 20px;
    border: none;
    color: white;
    transition: 300ms all;
    cursor: pointer;
    font-weight: bold;
    font-size: 17px;
}

.buttonModify.delete {
    background-color: rgb(219, 29, 29);
}

.buttonModify.delete:hover {
    background-color: rgb(165, 15, 15);
}

.buttonModify.update {
    background-color: var(--blue);
}

.buttonModify.update:hover {
    background-color: #0a3e6b;
}

.glossary {
    padding: 20px;
    margin: 20px;
    width: 300px;  
    background-color: #eee;
    border-radius: 20px;
    box-shadow: 0px 0px 4px #ccc;
    cursor: pointer;
    transition: 300ms all;
}

.glossary:hover {
    background-color: #ccc;
}

.glossary p {
    width: 100%;
    text-align: center;
    font-size: 18px;
    font-family: coming;
    letter-spacing: 1px;
}

#create {
    font-size: 30px; 
    color: black;
    box-shadow: 0px 0px 4px #ccc;
    margin-top: 20px;
}

#create:hover{
    background-color: #ccc;
}

@media (max-width: 576px) {
    .glossary {
        width: 180px;
    }
}

@media (max-width: 446px) {
    .glossary {
        width: 100%;
    }
    .buttonModify {
        margin: 0 auto;
    }
}