<div class="content">
    <h1>Update word</h1>
    <form class="form" [formGroup]="dataForm" (submit)="submitForm()">
        <label class="label">Word</label>
        <input type="text" class="inputText" id="wordText" placeholder="Word" formControlName="word">
        <label class="label">Definition</label>
        <input type="text" class="inputText" id="definitionText" placeholder="Definition" formControlName="definition"> 
        <span class="msgError">The information is invalid</span>
        <button type="submit" class="submit">Submit</button>
    </form>
</div>